/* --- Imports --- */
@import "compass_twitter_bootstrap";

body {
	background-color: white;
}

/* --- Header --- */
.header {
	background-color: #cccccc;
	padding: 25px 0;
	position: relative;

	.query {
		padding: 0 0 0 15px;

		.hashtag {
			font-size: 5em;
			font-family: Verdana;
			font-weight: bold;
			margin: 0;
			height: 60px;
			line-height: 80px;
			text-align: right;
			padding-top: 10px;
		}

		input {
			color: black;
			font-size: 5em;
			width: 575px;
			background: transparent;
			border: none;
			font-weight: bold;
			line-height: 40px;
			height: 90px;
			@include box-shadow(none);
		}
	}

	.tweetcount {
		position: absolute;
		right: 35px;
		width: 155px;
		top: 35px;
		font-size: 4em;
		padding: 35px;
		text-align: center;
	}
}

/* --- Content --- */
.content {
	padding: 25px 0 0 0;

	.tweets {
		margin-left: 35px;
		width: 670px;

		ul {
			width: 625px;
		}
	}

	.history {
		margin: 0;

		ul.well {
			margin: 0;
			list-style-type: none;
		}
	}
}