@import "compass_twitter_bootstrap";

body {
	background-color: white;
}

.header {
	background-color: #cccccc;
	padding: 25px 0;
	position: relative;

	.hashtag {
		font-size: 5em;
		font-family: Verdana;
		font-weight: bold;
		margin: 0;
		height: 60px;
		line-height: 80px;
		text-align: right;
		padding-top: 10px;
	}

	.query {
		margin: 0;
	}

	.query input {
		color: black;
		font-size: 5em;
		width: 100%;
		background: transparent;
		border: none;
		font-weight: bold;
		line-height: 40px;
		height: 90px;
		@include box-shadow(none);
	}

	.tweetcount {
		position: absolute;
		right: 35px;
		width: 155px;
		top: 35px;
		font-size: 4em;
		padding: 35px;
		text-align: center;
	}
}

.content {
	padding: 25px 0 0 0;

	.tweets {
		margin: 0;
	}

	.history {
		margin: 0;

		ul.well {
			margin: 0;
			list-style-type: none;
		}
	}
}