<!-- HEADER -->
<div class="row header">
	<div class="span10 query clearfix">
		<span class="hashtag pull-left">#</span>
		<input class="pull-left" type="text" ng-model="hashtag" />
	</div>
	
	<span class="tweetcount label label-info">{tweets.length}</span>
</div>
<!-- /HEADER -->

<!-- CONTENT -->
<div class="row content">
	<div class="span9 tweets">
		<h3>Incoming tweets</h3>
		<ul class="unstyled">
			<li ng-repeat="tweet in tweets">
				<img ng-src="{tweet.author_avatar_url}" class="avatar" />
				<a href="#">{tweet.author_profile_url}</a>
				<p>{tweet.text|linkify}</p>
			</li>
		</ul>
	</div>
	<div class="span3 history">
		<h3>Search</h3>
		<input type="text" placeholder="Click to search..." ng-model="query" />

		<h3>History</h3>
		<ul class="well">
			<li ng-repeat="query in history"><a ng-click="setQuery(query)">#{query}</a></li>
		</ul>
	</div>
</div>
<!-- /CONTENT -->