<!-- HEADER -->
<div class="row header">
	<div class="span10 query clearfix">
		<span class="hashtag pull-left">#</span>
		<input class="pull-left" type="text" value="angularjs" />
	</div>
	
	<span class="tweetcount label label-info">50</span>
</div>
<!-- /HEADER -->

<!-- CONTENT -->
<div class="row content">
	<div class="span9 tweets">
		<h3>Incoming tweets</h3>
		<ul class="unstyled">
			<li class="tweet">
				<img src="images/avatar.png" alt="Avatar" title="Avatar" class="avatar" />
				<a href="#">Smashing Magazine</a>
				<p>
					{Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani}
				</p>
			</li>
			<li class="tweet">
				<img src="images/avatar.png" alt="Avatar" title="Avatar" class="avatar" />
				<a href="#">Smashing Magazine</a>
				<p>
					Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani
				</p>
			</li>
			<li class="tweet">
				<img src="images/avatar.png" alt="Avatar" title="Avatar" class="avatar" />
				<a href="#">Smashing Magazine</a>
				<p>
					Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani
				</p>
			</li>
		</ul>
	</div>
	<div class="span3 history">
		<h3>Search</h3>
		<input type="text" placeholder="Click to search..." />

		<h3>History</h3>
		<ul class="well">
			<li><a href="#">#angularjs</a></li>
			<li><a href="#">#emberjs</a></li>
			<li><a href="#">#backbonejs</a></li>
			<li><a href="#">#jsmvcmeetup</a></li>
		</ul>
	</div>
</div>
<!-- /CONTENT -->