<div class = "header">
    <label>#</label>
    <span>
      <input class = " input-block-level inputStream" id="prependedInput" type="text" placeholder="hashtag"></input>
    </span>
	  
    <span class="tweetCount">
      50
    </span>
</div>

<div class = "body">
  
  <div class = "searchHistory">
    <span>History</span>
    <ul>
      <li>
        Searchitem
      </li>
      <li>
        Searchitem
      </li>
      <li>
        Searchitem
      </li>
      <li>
        Searchitem
      </li>
    </ul>
  </div>

  <div class="twitterStream">
    <span>
      <input class="searchStream" placeholder="search"></input>
    </span>

  	<ul class = "unstyled">
  		<li class = "tweet">
  			<img src="">         
  			<a>Smashing Magazine</a>
  			<p>Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani</p>
  		</li>
  		<li class = "tweet">
        <img src="">         
        <a>Smashing Magazine</a>
        <p>Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani</p>
      </li>
      <li class = "tweet">
        <img src="">         
        <a>Smashing Magazine</a>
        <p>Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani</p>
      </li>
      <li class = "tweet">
        <img src="">         
        <a>Smashing Magazine</a>
        <p>Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani</p>
      </li>
      <li class = "tweet">
        <img src="">         
        <a>Smashing Magazine</a>
        <p>Coveralls: provides constant updates on your project's automated test coverage - https://coveralls.io  / cc: @addy_osmani</p>
      </li>
  	</ul>	
  </div>
</div>
